.footerContainer {
    background-color: hsl(0, 0%, 16%);
    padding: 15px 0 20px;
}

.footerIcon {
    text-align: center;
    
}

.footerIcon h2 {
    color: #fff;
    font-size: 16px;
}

.footerIcon__box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footerIcon__box--x,
.footerIcon__box--insta {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 15px;
}

.footerIcon__box i {
    font-size: 20px;;
}

.fa-x-twitter {
    background-color: gray;
    color: #fff;
}

.fa-instagram {
    background-color: orange;
    border: 1px solid orange;
    color: #fff;
}

.footerNav {
    color: #fff;
    margin-top: 15px;

}

.footerNav p {
    text-align: center;
}

.footerNav p:nth-child(n+2) {
    margin-top: 7px;
}

.footerNav a {
    padding: 0 10px;
    color: #fff;
}
