@import "common.css";
@import "header.css";
@import "footer.css";

.headerSpace {
    height: var(--toppadding);
}

.formTitle {
    text-align: center;
    padding-top: 20px;
}

.inputMojure {
    padding: 10px 30px 10px;
    margin: 20px 30px 0;
    border: hsl(48, 97%, 49%) 1px solid;
}

.inputMojure--name p {
    margin-top: 10px;
}

.inputMojure--name__aria,
.inputMojure--email__aria,
.inputMojure--concert__aria {
    padding-left: 20px;
    margin: 10px 0 50px;
}

.requireMark {
    color: #fff;
    background-color: hsl(17, 95%, 61%);
    padding: 0 3px 0;
    margin-left: 5px;
}

.form-check:nth-child(n+2) {
    margin-top: 5px;
}

.form-control::placeholder {
    opacity: .5;
}

button {
    width: 150px;
    padding: 5px 15px 5px;
    border: 0;
    border-radius: 30px;
    background-color: hsl(210, 77%, 40%);
    color: #fff;
    margin: 10px 0;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.7;
}

.inputMojure--button {
    display: flex;
    justify-content: center;
}

.errorBox {
    border: red 1px solid;
    padding: 15px 0 15px;
}

.errorBox p {
    padding-left: 15px;
}

.errorBox ul {
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 10px;
}

/*----------------------------
入力成功のページ
---------------------------*/
.success {
    padding: 10px 30px 10px;
    margin: 20px 30px 0;
    border: hsl(48, 97%, 49%) 1px solid;
}

.success__para {
    text-align: center;
}

.success__backHome {
    text-align: center;
}

@media (min-width: 768px) {
    .success p {
        text-align: center;
    }
}