.attention {
    background-color: hsl(60, 2%, 84%);
    border: 1px solid hsl(60, 1%, 26%);
    height: 45px;
    
}

.attention p {
    margin: 0;
    padding: 0;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


header h1 {
    font-size: 35px;
    margin-top: 7px;
    margin-left: 10px;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.headerBox {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px hsl(261, 100%, 50%);
    background-color: hsl(260, 82%, 91%);
}

.headerBox__button {
    position: relative;
    width: 50px;
    height: 50px;
}

.headerBox__button--open,
.headerBox__button--close {
    width: 50px;
    height: 50px;
    background-color: gray;
    position: absolute;
}

.headerBox__button--open a,
.headerBox__button--close a {
    display: block;
    width: 50px;
    height: 50px;
    text-decoration-line: none;
}

.headerBox__button--open a:hover,
.headerBox__button--close a:hover {
    opacity: 0.6;
}

.headerBox__iconBox {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fa-bars, .fa-xmark {
    font-size: 45px;
    color: #fff;
}

header ul {
    list-style-type: none;
    width: 200px;
    position: absolute;
    top: 102px;
    right: -120%;

}

.open {
    right: 0;
}

.hide {
    display: none;
}

header li {
    border-bottom: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header li:first-child {
    border-top: black solid 1px;
}

header li:nth-child(odd) {
    background-color: hsl(65, 75%, 78%);
}

header li:nth-child(even) {
    background-color: hsl(260, 82%, 91%);
}

@media (min-width: 768px) {

    .attention {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    header h1 {
        margin-top: 3px;
    }

    .headerBox__button {
        display: none;
    }

    header ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        width: 500px;
        position: absolute;
        top: 54px;
        right: 0;
        }
    
    header li {
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 10px 0;
        font-size: 22px;
    }

    header li:last-child {
        margin-right: 35px;
    }
    
    header li:first-child {
        border-top: none;
    }

    header li:nth-child(odd) {
        background-color: transparent;
    }
    
    header li:nth-child(even) {
        background-color: transparent;
    }
}