@import "common.css";
@import "header.css";
@import "footer.css";

.headerSpace {
    height: var(--toppadding);
}

h1 {
    margin-top: 15px;
    margin-left: 5px;
}

.instImg {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.instImg__box {
    width: 70%;
    aspect-ratio: 1/1;
    border: 16px hsl(65, 90%, 68%) double;
}

.instImg__box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*width: 70%;
    border: 16px hsl(65, 90%, 68%) double;*/
    
}

blockquote {
    width: 85%;
    margin: 15px auto 20px;
    padding: 0 15px 10px;
    border-left: 2px hsl(48, 97%, 49%) solid;
    border-right: 2px hsl(48, 97%, 49%) solid;
}

h2 {
    text-align: center;
    margin: 20px 0 10px;
       
}

.paragraph p {
    text-indent: 1rem;
    letter-spacing: 0.01rem;
}

.workList li {
    list-style-position: outside;
    margin-left: 15px;
    letter-spacing: 0.01rem;
}

.workList li:nth-child(n+2) {
    margin-top: 5px;
}

@media (min-width: 768px) {
    h1 {
        margin-top: 30px;
    }

    .instImg {
        margin-top: 30px;
    }

    blockquote {
        margin: 35px auto 30px;
        padding: 0 100px 10px;
    }

    h2 {
        margin: 30px 0 20px;
    }

    .workList__flexContainer {
        display: flex;
        justify-content: center;
    }
}