@import "header.css";
@import "common.css";
@import "footer.css";

:root {
    --concertTabHeight: 300px;
    --cardOneColor: hsl(119, 59%, 87%);
    --cardTwoColor: hsl(149, 59%, 87%);
    --cardThreeColor: hsl(179, 59%, 87%);
    --cardFourColor: hsl(209, 59%, 87%);
}

/*------------------------------------------------
メインコンテナ
------------------------------------------------*/


.heroImg {
    /*padding-top: 99px;*/
    padding-top: var(--toppadding);
}

.heroImg img {
    border: 1px solid hsl(60, 0%, 56%);
}

/*------------------------------------------
introductionモジュール
--------------------------------------------*/
.introduction {
    background-color: hsl(65, 75%, 78%);
    padding: 35px 25px;
}

.introduction h1, .introduction__para {
    background-color: #fff;
}

.introduction h1 {
    font-size: 18px;
    margin-bottom: 0;
    padding: 15px 0 10px 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.introduction dfn {
    border-bottom: solid 3px hsl(53, 92%, 53%);;
}

.introduction__para {
    padding: 7px 40px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.introduction__para p {
    margin: 10px 0;
}

@media (min-width: 768px) {

    .introduction__para p {
        margin: 0;
    }
}

/*--------------------------------------
concertInfoモジュール
---------------------------------------*/

.box {
    width: 200px;
    height: 200px;
    visibility: hidden;
}

.concertInfo {
    height: 630px;
    padding: 20px;
}

.concertInfo__heading i {
    font-size: 22px;
}

.concertInfo i,
.concertInfo h2 {
    display: inline;
}

.concertInfo__box {
    border: 16px double hsl(65, 90%, 68%);
    height: 550px;
    margin-top: 15px;
}

.concertInfo__tabSelect select {
    width: 85%;
}

.concertInfo__tabSelect--label,
.concertInfo__tabSelect--select {
    display: flex;
    justify-content: center;
}

.concertInfo__tabSelect {
    margin-top: 15px;
}

.concertInfo__tab {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.concertInfo__tab hgroup {
    text-align: center;
    margin-bottom: 15px;
}

.concertInfo__tab h2 {
    font-size: 16px;
}

.concertInfo__tab li {
    white-space: nowrap;
}

.list-group {
    overflow: scroll;
    
}

.list-group-item {
    white-space: nowrap;
}

.card {
    position: absolute;
    visibility: hidden;
    width: 90%;
    height: 410px;
}

.concertInfo__tab h3 {
    font-size: 14px;
}

.card-header {
    text-align: center;
    padding: 20px 0 20px;
}

.card-subtitle {
    margin-top: 5px;
}

.card-text {
    text-align: center;
}

.active {
    visibility: visible;
}

.cardOne .card-header {
    background-color: var(--cardOneColor);
}

.cardOne .list-group-item {
    border-bottom: 1px solid var(--cardOneColor);
}

.cardTwo .card-header {
    background-color: var(--cardTwoColor);
}

.cardTwo .list-group-item {
    border-bottom: 1px solid var(--cardTwoColor);
}

.cardThree .card-header {
    background-color: var(--cardThreeColor);
}

.cardThree .list-group-item {
    border-bottom: 1px solid var(--cardThreeColor);
}

.cardFour .card-header {
    background-color: var(--cardFourColor);
}

.cardFour .list-group-item {
    border-bottom: 1px solid var(--cardFourColor);
}

@media (min-width: 768px) {

    .list-group {
        overflow: auto;
    }

    .concertInfo {
        border-left: hsl(65, 75%, 78%) 3px solid ;
        border-right: hsl(65, 75%, 78%) 3px solid ;
    }
}

/*----------------------------------------
スライドショーモジュール
-----------------------------------------*/
.slideShow {
    padding: 15px 0 10px;
}

.slideShow h1 {
    font-size: 18px;
    margin-left: 8px;
}

.fa-star {
    color: hsl(48, 97%, 49%);
}

.slide_box {
  margin: 30px auto;
  padding: 0;
  width: 80%;
  background-color: hsl(57, 87%, 65%);
}

.slide_box li {
    text-align: center;
}

.slide-image img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
  color: hsl(48, 97%, 49%)!important;
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}

@media (min-width: 768px) {
    .slideShow {
        border-left: hsl(65, 75%, 78%) 3px solid ;
        border-right: hsl(65, 75%, 78%) 3px solid ;
    }
}

/*----------------------------------
ニュースモジュール
----------------------------------*/

.news {
    background-color: hsl(65, 75%, 78%);
    padding: 10px 20px 30px;
}

.news h2 {
    color: gray;
    letter-spacing: px;
}

.news h2 span {
    margin-left: 2px;
}

.news__table {
    background-color: #fff;
    height: 140px;
    width: 100%;
    overflow: scroll;
    margin: 10px 0 0;
    padding-top: 8px;
}

.news__table td {
    white-space: nowrap;
    padding-left: 15px;
    font-size: 17px;
}


/*----------------------------------
モーダル
-------------------------------------*/
.instrument {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 15px 0 15px;
    border: 1px gray solid;
    background-color: hsl(65, 75%, 78%);
}

.instrument:nth-child(n+2) {
    margin-top: 20px;
}

.instrument__image {
    width: 200px;
    aspect-ratio: 3/2;
    margin: 0 auto;
}

.instrument__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
}

.instrument h3 {
    text-align: center;
    margin-top: 15px;
    color: gray;
}





