* {
    margin: 0;
    padding: 0;
}

.headerContainer {
    border: 1px black solid;
}

.headerContainer h1 {
    border: 1px black solid;
}
/*
.headerContainer ul {
    border: 1px black solid;
}
*/
root {
    font-size: 16px;
}

/*ーーーーーーーーーーーーーーーーーーーーーー
ヘッダー
--------------------------------------*/

header {
    position: relative;
}

.headerBox {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.headerBox__button {
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    font-size: 45px;
    color: #fff;
}

header ul {
    list-style-type: none;
    width: 200px;
    position: absolute;
    top: 50px;
    right: 0%;

}

header li {
    border-bottom: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header li:first-child {
    border-top: black solid 1px;
}